/*基础样式表*/


/* font-size */
.f0{font-size:0;}
.f10{font-size:10px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}

/* border */
.bbm {
  border-bottom: 0.01px solid #fbf9f9;
  margin: 0 10px 15px;
}



